version: "3"

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_USER: example
      POSTGRES_DB: critterstack
    ports:
      - "5432:5432"

  dynamodb-local:
    image: amazon/dynamodb-local
    ports:
      - "8000:8000"
    volumes:
      - ./dynamodb-local:/home/dynamodblocal/data
